FhemUI5/WebContent/resources
MyFhemJs/logs/app.log
MyFhemJs/.settings/org.eclipse.wst.jsdt.ui.superType.name
MyFhemJs/.settings/org.eclipse.wst.jsdt.ui.superType.container
MyFhemJs/.settings/.jsdtscope
MyFhemJs/.project
MyFhemJs/.gitignore
FhemUI5/.settings/org.eclipse.core.resources.prefs
FhemUI5/resources
FhemUI5/WebContent/css/fonts
FhemUI5/gulpfile.js
FhemUI5App/hooks
FhemUI5App/node_modules
FhemUI5App/platforms
FhemUI5App/plugins
FhemUI5App/res
FhemUI5App/www/resources
FhemUI5App/www/css/fonts
FhemUI5App/.npmignore
FhemUI5App/www/css/index.css
FhemUI5App/www/libs/Chart.bundle.min.js
FhemUI5App/www/libs/moment-with-locales.min.js
FhemUI5App/www/libs/socket.io.js
FhemUI5App/www/libs/socket.io.js.map
FhemUI5App/www/libs/socket.io.min.js
.gitignore
FhemUI5App/www/model/NavigationTree.1.json
FhemUI5App/www/model/fhemJsonList2.json
